/* General */

*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
}
html {
    background-color: white;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
body {
    font-family: "Nunito", sans-serif;
    font-size: 1em;
    font-weight: 400;
    background: #f9f9f9;
}
.container {
    width: 90%;
    max-width: 800px;
    margin: 0px auto;
}
.d-none {
    display: none;
}

/* Custom radio button */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #565d47;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #eaac9d;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #eaac9d;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Header */

.header {
    font-size: 25px;
    padding: 40px 0px;
    text-align: center;
    color: #fff;
    background: #565d47;
}

/* Score */

.score-box {
    font-size: 18px;
    padding: 30px 0px;
    text-align: center;
    color: #fff;
    background: #b49c73;
}

/* Quiz Form */

.quiz-form {
    padding: 30px 0px;
}

/* Question */

.question {
    padding: 25px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
}
.question:not(:last-child) {
    margin-bottom: 30px;
}
.question h2 {
    margin-bottom: 10px;
    color: #565d47;
}
.question p {
    font-size: 20px;
    margin-left: 30px;
    line-height: 1.8;
}

/* Submit Button */

button {
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.2s;
    color: #fff;
}
button[type="reset"] {
    background: #b49c73;
}
button[type="submit"] {
    background: #7d5a5a;
}